.title_wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-size: 5.625rem;
  margin: 0px;
  color: rgb(32, 35, 41);
  font-weight: 900;
  line-height: 1.1;
  text-align: center;
  z-index: -2;
}

.background {
  position: absolute;
  z-index: -3;
}
@media (max-width: 767px) {
  .title {
    font-size: 3rem;
    padding: 20px 10px;
  }
}
